//- index.jade
doctype html
html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    include ./includes/banner.jade
    include ./includes/projects.jade
    include ./includes/foot.jade
    include ./includes/js.jade
