// Card
.card
  // Card image
  img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg', alt='Card image cap')
  // Card content
  .card-body
    // Title
    h4.card-title Card title
    // Text
    p.card-text
      | Some quick example text to build on the card title and make up the bulk of the card's content.
    a.btn.btn-primary(href='#') Button
// /.Card

