extends card_layout

block vars
    - var card={img: "https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg", title: "Network Service Consulting", description: "Network is a vital infrastructure for global world. We provide assistance tools and consulting services to build up enterprises network infrastrcture."}
