extends card_layout

block vars
    - var card={img: "https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg", title: "Miscellaneous", description: "We are passionate to explore cutting-edge technology to create prototype projects for fun."}
