// Footer
footer.page-footer.stylish-color-dark
  .container
    // Footer links
    .row.text-center.text-md-left.mt-3.pb-3
      // First column
      .col-md-4.col-lg-4.col-xl-4.mx-auto.mt-4
        h6.title.mb-4.font-bold  Matchbox Lab
        p
          | Please add company description here 
      // /.First column
      hr.w-100.clearfix.d-md-none
      // Second column
      .col-md-4.col-lg-4.col-xl-4.mx-auto.mt-4
        h6.title.mb-4.font-bold Projects and Business
        p
          a(href='#!') Scrum Training
        p
          a(href='#!') DorryIT Platform
        p
          a(href='#!') Network Consulting
        p
          a(href='#!') Miscellaneous
      // /.Second column
      hr.w-100.clearfix.d-md-none
      // Fourth column
      .col-md-4.col-lg-4.col-xl-4.mx-auto.mt-4
        h6.title.mb-4.font-bold Contact
        p
          i.fa.fa-home.mr-3
          |  NanJing, JiangSu, China
        p
          i.fa.fa-envelope.mr-3
          |  info@matchbox.lab
        p
          i.fa.fa-phone.mr-3
          |  + 86 12345678
    // /.Fourth column
    // Footer links
    hr
    .row.py-3.d-flex.align-items-center
      // Grid column
      .col-md-8.col-lg-9
        // Copyright
        p.text-center.text-md-left.grey-text
          | @ 2017 Copyright: 
          a(href='https://www.matchboxlab.com')
            strong  Matchbox Lab
        // /.Copyright
      // Grid column
    // /.Footer links
// /.Footer
