//- includes/head.jade
head
  title My Site
  // Compiled and minified CSS
  link(rel='stylesheet', href='./assets/mdbootstrap/css/mdb.min.css')
  link(rel='stylesheet', href='./assets/mdbootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='./assets/mdbootstrap/css/style.css')
  // Compiled and minified JavaScript


