//- includes/foot.jade
  script(src='./assets/mdbootstrap/js/jquery-3.2.1.min.js')
  script(src='./assets/mdbootstrap/js/mdb.min.js')
  script(src='./assets/mdbootstrap/js/bootstrap.min.js')
  script(src='./assets/mdbootstrap/js/popper.min.js')


