.container
  .row
    .col-md-6.matchbox-margin
        include card_scrum.jade
    .col-md-6.matchbox-margin
        include card_network.jade
    .col-md-6.matchbox-margin
        include card_dorryit.jade
    .col-md-6.matchbox-margin
        include card_miscellaneous.jade

